<div class="container">
  <div class="content">
    <div class="row">
      <div class="login-form span12 offset5">
        <h2>Авторизация</h2>
        <form name="form" ng-submit="login(form)">
          <fieldset>
            <div class="clearfix">
              <input ng-model="form.login" type="text" placeholder="Логин">
            </div>
            <div class="clearfix">
              <input ng-model="form.password" type="password" placeholder="Пароль">
            </div>
            <button class="btn btn-primary" type="submit">Войти</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
